@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');



body {
	background-color: 	rgb(47, 41, 41);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
    box-sizing: border-box;
}
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}
.deka img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.cao{
    visibility: hidden;
    color: rgb(65, 61, 58);
}
.containermt-5{
        margin-top: 3.5%;
        text-align: center;
        justify-content: center;
        font-size: 100%;
}
/* Appearance */
/*.links {
	background-color: rgb(49, 47, 45);
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
}
.links > a {
	color:white;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: #adf;
}
.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}*/

/* The Magic */
#header {
    background-image:url(img/giphy.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
/*.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  
  .button {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: orange;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    
  }
  
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent; 
    margin: 30px auto 0 auto;
    border: solid 2px #424242;
    border-top: solid 2px #1c89ff;
    border-radius: 50%;
    opacity: 0;
  }
  
  .check {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(-4px,50px,0);
    opacity: 0;
  }
  
  .loader.active {
    animation: loading 2s ease-in-out; 
    animation-fill-mode: forwards;
  }
  
  .check.active {
    opacity: 1;
    transform: translate3d(-4px,4px,0);
    transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
    transition-delay: .2s;
  }
  
  @keyframes loading {
    30% {
      opacity:1; 
    }
    
    85% {
      opacity:1;
      transform: rotate(1080deg);
      border-color: #262626;
    }
    100% {
      opacity:1;
      transform: rotate(1080deg);
       border-color: #1c89ff;
    }
  }
  
  


